@import "../../styles/mixins.css";
.container {
	position: fixed;
	top: 200px;
	left: 200px;
	z-index: 200;
	width: 100%;
	max-height: 400px;
	background: #fff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	overflow: scroll;
}
.emojiList,
.categoryList {
	@mixin plain-list;
	@mixin clearfix;
}
.emojiButton {
	@mixin flex-center-children;
	background-color: #fff;
	position: relative;
	transition: background-color 0.3s;
	border: none;
	display: block;
	float: left;
	padding: 0;
	cursor: pointer;
	overflow: hidden;

	&:hover {
		background-color: #eee;
	}
	&:focus {
		/* Move this tile above others so focus ring isn't cut off */
		z-index: 1;
	}
}
.categoryListItem {
	float: left;
	display: block;
}
.categoryButton {
	cursor: pointer;
	background: none;
	transition: background-color 0.3s;
	border: 1px solid #333;
	border-radius: 100%;
	padding: 4px;

	&[aria-selected="true"] {
		background-color: #333;
	}
}
