@import "../_styles/variables.css";
@import '../_styles/mixins.css';
.container {
	position: relative;
	z-index: 100;
	width: var(--toolbar-width);
	flex-shrink: 0;
	font-size: 18px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
